*{
   font-family: "Montserrat", sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 43px 0px 50px 76px;
}

.link-header{
font-weight: 600;
font-size: 24px;
line-height: 20px;
color: #989d9c;
margin-left: 20px;
cursor: pointer;
}

.button-header{
    background:rgb(102, 90, 225);
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border:none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    cursor: pointer;
}


.image-logo{
    height: 300px;
    width: 368px;
    margin-left: 235px;
    display:inline-block
}

section{
    display:inline-block;
    margin-left: 55px;

}


h1{
    font-size:50px ;
    font-weight:900 ;
    line-height: 50px;
    color:#515151;
    margin-top: 75px;
    
}

h2{
    font-size:25px ;
    font-weight:800 ;
    line-height:71px ;
    color:#515151
}

p{
     font-size:24px ;
    font-weight:400 ;
    line-height:29px ;
    color:#515151;
    width: 555px;
    margin-bottom: 50px;
    
}

.button-main{
    background: #6ff730 ;
    border-radius: 30px;
    border:none;
    width: 239px;
    height: 64px;
    filter:drop-shadow(8px 4px 4px rgba(0,0,0,));
    font-weight: 700;
    font-size: 28px;
    line-height:25px ;
    color:black

    
}